.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--second-bg-color);
}

.about-content {
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 5rem;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
}

.about-img {
	width: 100%;
	max-width: 200px;
	aspect-ratio: 1/1;
	border-radius: 1.5rem;
	background: linear-gradient(45deg, transparent, var(--main-color), transparent);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.about-img > img {
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	object-fit: cover;
	transform: rotate(10deg);
	transition: all 400ms ease;
}

.about-img > img:hover {
	transform: rotate(0deg);
}
