.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2rem 9%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	transition: 0.3s;
	background: transparent;
}

.header.sticky {
	background: var(--bg-color);
}

.logo {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 700;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.navbar div a {
	font-size: 1.7rem;
	color: var(--text-color);
	font-weight: 500;
	padding: 1.5rem;
}

.navbar div a:hover {
	color: var(--main-color);
}

.navbar div a.active {
	border-bottom: 3px solid var(--main-color);
}

.navbar div i {
	display: none;
	font-size: 2.5rem;
	color: var(--main-color);
}

.menu-icon {
	display: none;
	font-size: 3.6rem;
	cursor: pointer;
}

.modal {
	display: none;
	transition: 0.8s all ease;
	transform: translateY(-150%);
}

@media screen and (max-width: 768px) {
	.menu-icon {
		display: block;
	}

	.navbar {
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		flex-direction: column;
		box-shadow: var(--shadow);
		background: #0d0d0dc7;
		border-radius: 15px;
		text-align: center;
		transition: 0.8s all ease;
		transform: translateY(-150%);
		z-index: 3;
	}

	.navbar.active {
		transform: translateY(0);
	}

	.navbar div {
		width: 100%;
	}

	.navbar div i {
		display: block;
	}

	.navbar div a {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		padding: 0;
		font-size: 1.7rem;
		margin: 3rem 0;
	}

	.navbar div a.active {
		color: var(--main-color);
		border-bottom: none;
	}

	.header.sticky.active {
		background: transparent;
	}

	.modal.active {
		width: 100vw;
		height: 100vh;
		position: fixed;
		display: block;
		background: #112e42b7;
		z-index: 1;
		transform: translateY(0);
	}
}
