.qualification {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.qualification .qualification-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
}

.title {
	font-size: 2.5rem;
	padding-bottom: 2rem;
}

.qualification-column.left .title {
	text-align: end;
}

.qualification-column.right .qualification-bx {
	border-left: 0.2rem solid var(--main-color);
}

.qualification-column.left .qualification-bx {
	border-right: 0.2rem solid var(--main-color);
}

.qualification-bx .qualification-content {
	position: relative;
}

.qualification-column.left .qualification-bx .qualification-content {
	padding-right: 2rem;
}

.qualification-column.right .qualification-bx .qualification-content {
	padding-left: 2rem;
}

.qualification-column.left .qualification-bx .qualification-content::after,
.qualification-column.right .qualification-bx .qualification-content::before {
	width: 2rem;
	height: 2rem;
	content: "";
	position: absolute;
	top: 0;
	background: var(--main-color);
	border-radius: 50%;
}

.qualification-column.left .qualification-bx .qualification-content::after {
	right: -1.1rem;
}

.qualification-column.right .qualification-bx .qualification-content::before {
	left: -1.1rem;
}

.qualification-content .content {
	position: relative;
	padding: 1.5rem;
	border: 0.2rem solid var(--main-color);
	box-shadow: var(--shadow);
	border-radius: 0.6rem;
	margin-bottom: 2rem;
	overflow: hidden;
}

.qualification-content .content::before {
	width: 0;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	background: var(--second-bg-color);
	z-index: -1;
	transition: var(--transition-ease);
}

.qualification-column.right .qualification-content .content::before {
	left: 0;
}

.qualification-column.left .qualification-content .content::before {
	right: 0;
}

.qualification-content .content:hover::before {
	width: 100%;
}

.qualification-content .content .year {
	font-size: 1.5rem;
	color: var(--main-color);
	padding-bottom: 0.5rem;
}

.qualification-content .content .year > i {
	padding-right: 0.5rem;
}

.qualification-content .content > h3 {
	font-size: 2rem;
}

@media screen and (max-width: 1024px) {
	.qualification .qualification-row {
		grid-template-columns: 1fr;
		gap: 3rem;
	}
}
