.skills {
	background: var(--second-bg-color);
}

.skills .container.skills-content {
	width: 100%;
	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 2rem;
}

.skills .container.skills-content .tech {
	width: 100%;
	height: max-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	padding: 3rem 0;
	box-shadow: var(--shadow);
	border-radius: 15px;
}

.skills .container.skills-content .tech > img {
	width: 90%;
	max-width: 70px;
	aspect-ratio: 1/1;
	border-radius: 10px;
	transition: var(--transition-ease);
}

.skills .container.skills-content .tech > img:hover {
	transform: scale(1.4);
}

.skills .container.skills-content .title {
	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: end;
	line-height: 4rem;
}

.skills .container.skills-content .title > h2 {
	font-size: 2.5rem;
	list-style: none;
	color: var(--main-color);
}

@media screen and (max-width: 1024px) {
	.skills .container.skills-content .tech > img {
		max-width: 60px;
	}
}

@media screen and (max-width: 800px) {
	.skills .container.skills-content {
		grid-template-columns: 1fr;
	}

	.skills .container.skills-content .tech {
		gap: 2rem;
	}

	.skills .container.skills-content .tech > img {
		min-width: 20px;
	}

	.skills .container.skills-content .title {
		flex-direction: row;
		gap: 2rem;
	}
}

@media screen and (max-width: 290px) {
	.skills .container.skills-content .title {
		flex-direction: column;
		line-height: 1rem;
	}
}
